#homepage {
  .slider-mobile {
    padding: 55px 0 80px;
    .item {
      width: 1156px !important;
      height: 423px;
      background: linear-gradient(122deg, #147261 5.43%, #082c25 100%);
      border-radius: 16px;
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding-left: 85px;
      padding-right: 16px;
      margin: auto;
      &.bg-2 {
        background: linear-gradient(122deg, #284dce 5.43%, #0c1741 100%);
      }
      &.bg-3 {
        background: linear-gradient(122deg, #0b467b 5.43%, #041b2e 100%);
      }
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      margin-top: 12px;
      li {
        width: 6px;
        height: 6px;
        background: #ffffff66;
        border-radius: 5px;
        margin: 0 3px;
        cursor: pointer;
        &.slick-active {
          background: #ffffff;
        }
        button {
          display: none;
        }
      }
    }
  }
  .types {
    padding-bottom: 30px;
    margin-bottom: 32px;
    border-bottom: 1px solid #ffffff0a;
    .btn {
      width: calc((100% / 7) - 10px);
      height: 57px;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      border: 1px solid #ffffff1a;
      background: transparent;
      text-transform: initial;
      &.bg-white {
        background: #ffffff1a;
      }
      img {
        margin-right: 13px;
      }
    }
  }
  .exclusion-games {
    overflow: hidden;
    .wrapper {
      width: 100%;
      overflow: auto;
    }
    .items {
      width: max-content;
      display: flex;
      flex-wrap: wrap;
      .item {
        width: 156px;
        height: 210px;
        position: relative;
        margin-right: 16px;
        .badge {
          position: absolute;
          top: 15px;
          left: -3px;
          z-index: 1;
        }
        .bg {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
        }
        span {
          display: block;
          width: 100%;
          font-size: 8px;
          font-weight: 500;
          text-align: center;
          letter-spacing: 1.12px;
          text-transform: uppercase;
          position: absolute;
          bottom: 6px;
          left: 0;
        }
      }
    }
  }
  .providers {
    .wrapper {
      width: 100%;
      overflow: auto;
    }
    .items {
      display: flex;
      align-items: center;
      justify-content: center;
      width: max-content;
      flex-wrap: wrap;
      margin: auto;
      .item {
        width: 156px;
        margin: 0 6px;
        .top {
          height: 68px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #12294a;
          border-radius: 8px 8px 0 0;
        }
        .bottom {
          height: 54px;
          background-color: #f5f9ff0d;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-decoration: underline;
          border-radius: 0 0 8px 8px;
          .name {
            font-size: 13px;
          }
          .count {
            font-size: 11px;
            color: #90a2bd;
          }
        }
      }
    }
  }
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
  #homepage {
    .slider-mobile .item {
      width: 984px !important;
    }
    .types .btn {
      font-size: 14px;
      padding: 0;
      img {
        margin-right: 8px;
      }
    }
  }
}

@media (max-width: 1024px) {
  #homepage {
    .slider-mobile .item {
      width: 728px !important;
      padding-left: 50px;
      .left {
        padding-right: 15px;
      }
    }
    .types .btn {
      font-size: 13px;
      padding: 0 3px;
      img {
        margin-right: 6px;
      }
    }
    .providers {
    }
  }
}

@media (max-width: 768px) {
  #homepage {
    .container {
      padding-left: 10px;
      padding-right: 10px;
    }
    .slider-mobile {
      padding-bottom: 42px;
      overflow: hidden;
      .slick-list {
        overflow: initial;
      }
      .item {
        width: 350px !important;
        min-height: 387px;
        flex-direction: column-reverse;
        padding: 0 50px 55px;
        border-radius: 22px;
        .left {
          padding-right: 0;
        }
      }
    }
    .types {
      padding-bottom: 0;
      margin-bottom: 24px;
      .btn {
        width: calc(33.33% - 4px);
        height: 50px;
        font-size: 14px;
      }
    }
    .exclusion-games {
      .wrapper {
        width: calc(100% + 10px);
      }
      .items .item {
        width: 120px;
        height: 160px;
        margin-right: 12px;
        span {
          font-size: 7px;
        }
      }
    }
    .providers {
      .wrapper {
        width: calc(100% + 10px);
      }
      .items {
        .item {
          width: 120px;
          margin: 0 6px 0 0;
        }
      }
    }
  }
}

@media (max-width: 640px) {
}
